body {
    text-align: center;
    justify-content: center;
}

h1 {
    font-style: italic;
}

#copytext {
    font-style: italic;
    color:green
}

#joke {
    font-weight: 700;
    font-size: 1.5rem;
}